<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.legend.demo.repository.UserMapper">
    <select id="queryAllUser" resultHandler="com.legend.demo.handler.UserListHandler">
        select * from user
    </select>
    <select id="queryUser" resultHandler="com.legend.demo.handler.UserHandler">
        select * from user where username = #{username} AND password = #{password}
    </select>
    <insert id="createUser">
        insert into user values(#{uid}, #{username}, #{password})
    </insert>
    <update id="updateUserById">
        update user set username=#{username}, password=#{password} where uid=#{uid}
    </update>
    <delete id="deleteUserById">
        delete from user where uid=#{uid}
    </delete>
</mapper>